@import "./variables";

@mixin header_text {
    font-family: Quicksand;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #697ca6;
    text-shadow: 0px 0px 5px #e6e6e6;
}
@mixin button_text {
    font-family: Quicksand;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    color: $header_blue;
}
@mixin header__button {
    margin-left: 12px;
    transition: box-shadow 0.2s;
    border-radius: 2px;
    background: #d2e1ff;
    box-shadow: 6px 6px 12px #c8d6f2, -6px -6px 12px #ddecff;
    &:hover {
        border-radius: 2px;
        background: #d2e1ff;
        box-shadow: 9px 9px 18px #c3d1ed, -9px -9px 18px #e1f1ff;
    }
}
@mixin button {
    width: 113px;
    height: 43px;
    top: 19px;
    background: #d2e1ff;
    border-radius: 2px;
    border: none;
    @include button_text;
    &:focus {
        outline: none;
    }
    cursor: pointer;
}
@mixin header {
    font-family: Quicksand;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #3d4f9f;
}
@mixin link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d4f9f;
    text-align: center;
}
@mixin text {
    font-family: Roboto;
    font-weight: normal;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #8d96bd;
}
@mixin button_filled {
    width: 130px;
    height: 43px;
    background: $manage_blue;
    box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
    border-radius: 2px;
    font-family: Quicksand;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    color: #ffffff;
    border: none;
    &:focus {
        outline: none;
    }
    cursor: pointer;
}
@mixin button_outlined {
    width: 130px;
    height: 43px;
    border-radius: 2px;
    border: 1px solid #d1d1e4;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    color: #adb4d2;
    background: #f5f8ff;
    &:focus {
        outline: none;
    }
    cursor: pointer;
}
@mixin about_button {
    width: 113px;
    height: 25px;
    background: #ffd7d7;
    border-radius: 2px;
    &:focus {
        outline: none;
    }
    cursor: pointer;
    border: none;
    @include button_text;
}
@mixin number_text {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 83px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #ffffff;
}
@mixin statistics_text {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #ffffff;
}
@mixin header_second {
    font-family: Quicksand;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    color: #3d4f9f;
}
@mixin button_noborder {
    width: 211px;
    height: 43px;
    @include button_text;
    color: #a6b6da;
    background: #fff;
    border: none;
    &:focus {
        outline: none;
    }
    cursor: pointer;
    &:hover {
        background: #f5f8ff;
        box-shadow: 9px 9px 18px #ebebeb, -9px -9px 18px #f1f4f6;
    }
}
@mixin help_text {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #8e96b7;
}
@mixin help_button {
    width: 195px;
    height: 43px;
    background: #e8ecf4;
    border-radius: 2px;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    color: #7382a3;
    border: none;
    &:focus {
        outline: none;
    }
    cursor: pointer;
}
@mixin button_start_outlined {
    width: 155px;
    height: 43px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #c7d3ff;
    border-radius: 2px;
    border: 1px solid #a0b4ff;
    background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &:hover {
        background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
        box-shadow: -4px -4px 8px #3f539c, 4px 4px 8px #91bdff73;
    }
    transition: all 0.2s;
}
@mixin sign_button_grey {
    background: #efeff7;
    border-radius: 5px;
    width: 279px;
    height: 59px;
    font-family: Quicksand;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #7a85ad;
    cursor: pointer;
    &:focus {
        outline: none;
    }
    border: none;
}
@mixin sign_button_blue {
    background: #4d6ce1;
    box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
    border-radius: 5px;
    width: 184px;
    height: 59px;
    font-family: Quicksand;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    &:focus {
        outline: none;
    }
    border: none;
}
