@import "../base/mixins";
@import "../base/variables";
.footer {
    margin-top: 93px;
    &_copyright {
        margin: 40px 0 0 130px;
        font-family: Quicksand;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-align: left;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #aeb8d0;
    }
}
